<div id="Cchanel">
  <div class="row">
    <div class="col-sm-12">
      <h2>Websites associated with us</h2>
      <a href="http://www.beth.school.nz/bethlehem-college/">Bethlehem College</a><br>
      <a href="https://www.vexrobotics.com/">VEX robotics</a>
    </div>
  </div>
</div>
