<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="robot,8757,vex,hos">
  <meta name="author" content="Joe Kent">
  <title>Bethlehem College Robotics</title>
  <link rel="stylesheet" type="text/css" href="/css/mainStyle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="theMatrix" class="container-fluid">
<div id="title">
  <h1>Bethlehem College Robotics</h1>

	<div class="dropdown">
		<button type="button" id="menu" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			About Our Club
		</button>
		<div class="dropdown-menu" id="menu-expanded">
			<a class="dropdown-item" href="/club">General Info</a><br>
			<a class="dropdown-item" href="/sponsors">Our Sponsors</a><br>
			<a class="dropdown-item" href="/primary">Our Primary Program</a><br>
			<a class="dropdown-item" href="/junior-secondary">Our Junior Secondary Program</a><br>
			<a class="dropdown-item" href="/senior-secondary">Our Senior Secondary Program</a><br>
		</div>
	</div>
</div>
<br>
