<?xml version="1.0" encoding="UTF-8"?>
<master>
<article>
    <category>Club</category>
	<target>intellectual-content</target>
    <date>9/6/2018</date>
    <title>Challenging the Intelectual</title>
    <text>
Robotics is heavily based in the intellectual with making robots requiring all parts of STEM. STEM stands for Science, Technology, Engineering, Mathematics.
&lt;/p&gt;&lt;h4&gt;Science&lt;/h4&gt;&lt;p&gt;
Science, specifically physics, is used all the time in robotics. In robotics you need to know how to use gears which uses a physics concept of torques. The physical equation for torque is T=Fd. Basically the torque that you apply is the force times the distance that you applied the force from the center. This means you can change the speed of the rotations by changing the distance from the applied force. Another physics concept that is used in robotics is trajectories. In Turning Point teams have to fire plastic balls at flags that are above the ground. In doing this you have to account for gravity causing arcs in the trajectory paths. Also when your robot is tall you have to account for the center of gravity. If the center of mass is outside the area of support then the robot will tip. So to prevent this you have to develop anti tips. Finally you have to understand how the more current you use to drive a motor the more it heats up.
&lt;/p&gt;&lt;h4&gt;Technology&lt;/h4&gt;&lt;p&gt;
Robotics uses lots of technology with colour sensors, potentiometer, motors and cortex. You have to know how to utilise these different technologies and a lot of that comes down to coding. You have to know how to set the motors speed and how to assign motor movement to a joystick stick being moved.
&lt;/p&gt;&lt;h4&gt;Engineering&lt;/h4&gt;&lt;p&gt;
At university robotics is called mechatronics which is a part of the engineering course. Therefore it makes sense how robotics has a lot of engineering in it. Teams have to design and build their robots to perform specific task. To do the task well teams develop new and better ideas from what they previously had.
&lt;/p&gt;&lt;h4&gt;Mathematics&lt;/h4&gt;&lt;p&gt;
Robotics uses mathematics frequently. For making your your robot is in size to calculating the minimum amount of rpm on a flywheel that will fire a ball that will hit a flag around two meters away
	</text>
  </article>
  <article>
    <category>Club</category>
	<target>cultural</target>
    <date>9/6/2018</date>
    <title>Developing the Cultural</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>Club</category>
	<target>physical</target>
    <date>9/6/2018</date>
    <title>Excercising the Physical</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>Club</category>
	<target>moral</target>
    <date>9/6/2018</date>
    <title>Shaping the Moral</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>Primary</category>
	<target>primary</target>
    <date>9/6/2018</date>
    <title>Our Primary Program</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>JSecondary</category>
	<target>jSecondary</target>
    <date>9/6/2018</date>
    <title>Our Junior Secondary Program</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>SSecondary</category>
	<target>sSecondary</target>
    <date>9/6/2018</date>
    <title>Our Senior Secondary Program</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>Sponsors</category>
	<target>sponsors</target>
    <date>9/6/2018</date>
    <title>Our Sponsors</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>Events</category>
	<target></target>
    <date>9/6/2018</date>
    <title>test1</title>
    <text>//*test1.png*//</text>
  </article>
   <article>
    <category>Events</category>
	<target></target>
    <date>9/6/2018</date>
    <title>test2</title>
    <text>//*test2.png*//</text>
  </article>
</master>
