<?xml version="1.0" encoding="UTF-8"?>
<master>
<article>
    <category>Club</category>
	<target>intellectual</target>
    <date>9/6/2018</date>
    <title>Challenging the Intelectual</title>
    <text>this is an article</text>
  </article>
  <article>
    <category>Club</category>
	<target>cultural</target>
    <date>9/6/2018</date>
    <title>Developing the Cultural</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>Club</category>
	<target>physical</target>
    <date>9/6/2018</date>
    <title>Excercising the Physical</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>Club</category>
	<target>moral</target>
    <date>9/6/2018</date>
    <title>Shaping the Moral</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>Primary</category>
	<target>primary</target>
    <date>9/6/2018</date>
    <title>Our Primary Program</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>JSecondary</category>
	<target>jSecondary</target>
    <date>9/6/2018</date>
    <title>Our Junior Secondary Program</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>SSecondary</category>
	<target>sSecondary</target>
    <date>9/6/2018</date>
    <title>Our Senior Secondary Program</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>Sponsors</category>
	<target>sponsors</target>
    <date>9/6/2018</date>
    <title>Our Sponsors</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>Events</category>
	<target></target>
    <date>9/6/2018</date>
    <title>test1</title>
    <text>//*test1.png*//</text>
  </article>
   <article>
    <category>Events</category>
	<target></target>
    <date>9/6/2018</date>
    <title>test2</title>
    <text>//*test2.png*//</text>
  </article>
</master>
