<?xml version="1.0" encoding="UTF-8"?>
<master>
<article>
    <category>Club</category>
	<target>intellectual</target>
    <date>9/6/2018</date>
    <title>Challenging the Intelectual</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>Club</category>
	<target>cultural</target>
    <date>9/6/2018</date>
    <title>Developing the Cultural</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>Club</category>
	<target>physical</target>
    <date>9/6/2018</date>
    <title>Excercising the Physical</title>
    <text>//*test.png*//</text>
  </article>
  <article>
    <category>Club</category>
	<target>moral</target>
    <date>9/6/2018</date>
    <title>Shaping the Moral</title>
    <text>//*test.png*//</text>
  </article>
</master>
