<?xml version="1.0" encoding="UTF-8"?>
<master>
<article>
    <category>Club</category>
	<target>#Intellectual</target>
    <date>9/6/2018</date>
    <title>Challenging the Intelectual</title>
    <text>//*test.png*//</text>
  </article>
</master>
