<% include ../partials/header.ejs %>
<br>
<div id="maininfo">
	<div>
	
	</div>
	<ul class="nav nav-pills nav-justified link1" >
        <li class="link intellectual" id="intellectual-content-other"></li>
        <li class="link cultural" id="cultural-other"></li>
		<li class="link physical" id="physical-other"></li>
		<li class="link moral" id="moral-other"></li>
    </ul>
	<div id="intellectual" class="boxes intellectual row">
		<div id="intellectual-content" class="col-sm-6">
			
		</div>
		<div id="intellectual-image" class="col-sm-6">
			
		</div>
	</div>
	<div id="cultural" class="boxes cultural"></div>
	<div id="physical" class="boxes physical"></div>
	<div id="moral" class="boxes moral"></div>
</div>
<% include ../partials/footer.ejs %>
<script>
    $(document).ready(function(){
        $(".boxes").hide();
		$("#intellectual").show();
        $("#intellectual-content-other").click(function(){
            $(".boxes").hide();
            $("#intellectual").show();
        });
        $("#cultural-other").click(function(){
            $(".boxes").hide();
            $("#cultural").show();
        });
		$("#physical-other").click(function(){
            $(".boxes").hide();
            $("#physical").show();
        });
		$("#moral-other").click(function(){
            $(".boxes").hide();
            $("#moral").show();
        });
    });
</script>
<script>
    var category = "Club"
    <% include ../partials/script.ejs %>
</script>
</body>
</html>