<% include ../partials/header.ejs %>
<br>
<div id="maininfo">
	<ul class="nav nav-pills nav-justified link1" >
        <li class="link intellectual" id="intellectual-button">Challenging the Intellectual</li>
        <li class="link cultural" id="cultural-button">Developing the Cultural</li>
		<li class="link physical" id="physical-button">Exercising the Physical</li>
		<li class="link moral" id="moral-button">Shaping the Moral</li>
    </ul>
	<div id="intellectual" class="boxes intellectual"></div>
	<div id="cultural" class="boxes cultural"></div>
	<div id="physical" class="boxes physical"></div>
	<div id="moral" class="boxes moral"></div>
</div>
<% include ../partials/footer.ejs %>
<script>
    $(document).ready(function(){
        $(".boxes").hide();
		$("#intellectual").show();
        $("#intellectual-button").click(function(){
            $(".boxes").hide();
            $("#intelectual").show();
        });
        $("#cultural-button").click(function(){
            $(".boxes").hide();
            $("#cultural").show();
        });
		$("#physical-button").click(function(){
            $(".boxes").hide();
            $("#physical").show();
        });
		$("#moral-button").click(function(){
            $(".boxes").hide();
            $("#moral").show();
        });
    });
</script>
<script>
    var category = "Club"
    <% include ../partials/script.ejs %>
</script>
</body>
</html>