<% include ../partials/header.ejs %>
<br>
<div id="maininfo">
	<div id="event-slidershow">
	  
	</div>
</div>
<% include ../partials/footer.ejs %>
<script>
    var category = "Events"
    <% include ../partials/script.ejs %>
</script>
</body>
</html>
