<% include ../partials/header.ejs %>
<br>
<div id="maininfo">
	<div class="subHead" id="jSecondary-other">
	</div>
	<div  class="article" id="jSecondary">
	</div>
</div>
<% include ../partials/footer.ejs %>
<script>
    var category = "JSecondary"
    <% include ../partials/script.ejs %>
</script>
</body>
</html>