<% include ../partials/header.ejs %>
<br>
<div id="maininfo">
	<div class="subHead" id="primary-other">
	</div>
	<div class="article" id="primary">
	</div>
</div>
<% include ../partials/footer.ejs %>

<script>
    var category = "Primary"
    <% include ../partials/script.ejs %>
</script>
</body>
</html>