<% include ../partials/header.ejs %>
<br>
<div id="maininfo">
	<div class="subHead" id="sponsors-other">
	</div>
	<div class="article" id="sponsors">
	</div>
</div>
<% include ../partials/footer.ejs %>
<script>
    var category = "Sponsors"
    <% include ../partials/script.ejs %>
</script>
</body>
</html>