<% include ../partials/header.ejs %>
<br>
<div id="maininfo">
	<div class="subHead" id="sSecondary-other">
	</div>
	<div class="article" id="sSecondary">
	</div>
</div>
<% include ../partials/footer.ejs %>
<script>
    var category = "SSecondary"
    <% include ../partials/script.ejs %>
</script>
</body>
</html>